.dep {
  position: relative;
  padding-left: 20px;
}

.dep_open .dep__more span:last-child {
  transform: rotate(-90deg);
}

.dep_open + ul {
  display: none;
}

.dep_active button {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  color: #ff8008;
}

.dep__more {
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.dep__more span {
  position: absolute;
  left: 0;
  width: 60%;
  height: 1px;
  background-color: #fff;
}

.dep__more span:last-child {
  transition: 0.3s;
  transform: rotate(0deg);
  transform-origin: center;
}

.dep__btn {
  padding: 0;
  cursor: pointer;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.dep + ul li {
  margin-top: 4px;
}
